<h1>New Entry</h1>

<%= form_with model: @entry, url: entries_path, local: true, multipart: true do |f| %>
  <%= hidden_field_tag :place_id, params[:place_id] %>

  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :occurred_on %>
    <%= f.date_field :occurred_on, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <%= f.submit "Save Entry", class: "btn btn-success" %>
<% end %>